body, h1, ul, li {
  padding: 0;
  margin: 0;
}

:root {
  --bgclolor: #22222b;
  --textaccent: #ffffff;
  --darkgray: rgb(36, 36, 36);
  --fs-18: 1.125rem;  
  --fs-88: 5.5rem;
  --fs-48: 3rem;
  --fs-24: 1.5rem;
  --hovercolor: hsla(0, 1%, 18%, 0.438);
  --container: 69.375rem;
  --red: #C6011F;
  --gray: rgb(217, 217, 217);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.56;
  font-size: var(--fs-18);
  height: 100%;
  
}

.wrapper {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
}


                                              /*Header*/
.header {
    background-color: var(--bgclolor);
    color: white;
    padding: 1rem 0;
}

.header_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px 25px;
}

.logo {
  font-size: 2.2rem;
  font-size: clamp(2.2rem, 1.02rem + 2.04vw, 2rem);
  text-decoration: none;
  color: var(--red);
  font-family: "Space Grotesk", sans-serif;
  flex: 1 0 100%;
}


a:hover {
  color: var(--textaccent);
}

.navbar {
  list-style-type: none;
  overflow: hidden;
}

.navbar li {
  border-right: 1px;
  font-size: 0.7rem;
  font-size: clamp(0.7rem, 0.02rem + 2.04vw, 1.5rem);
  float: left;
}

.navbar li a {
  display: block;
  padding: 14px 27px;
  text-decoration: none;
  color: var(--textaccent);
}

li a:hover {
  background-color: var(--red);
}




                                                 /*Main*/

 .container {
    background-color: #f0f0f0;
}
                                                
.main_block {
  max-width: 100vw;
  min-height: 0;
  height: 100vh;
  border-bottom: 2px solid black;
}

.myintro {
  padding-top: 200px;
  
}

h1 {
  font-size: clamp(18px, 5vw, 25px);
}


h1 > span {
background-image: linear-gradient(
  to right, 
  var(--red) 75%, 
  var(--red) 75%);
background-position: 0 1.18em;
background-repeat: repeat-x;
background-size: 8px 4px;
font-size: clamp(45px, 5vw, 100px);
}

.spantxt {
  font-size: clamp(20px, 5vw, 30px);
}

/* img {
  background-color: black;
} */

.icon {
  display: flex;
  gap: 10px;
  line-height: 90px;
  background-color: #22222b;
}

.download {
  display: inline-block;
    padding: 10px 20px;
    background-color: var(--red);
    color: white;
    text-decoration: none;
    margin-top: 1rem;
    border-radius: 5px;
}

.font_heading {
  font-size: 1rem;
  font-size: clamp(1rem, 1.02rem + 2.04vw, 2rem);
}

.aboutme {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 2px solid black;
}

.skills {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 2px solid black;
}

.projects {
  padding-top: 60px;
  padding-bottom: 60px;
}


.font_aboutme {
  font-size: 0.9em;
}
                                          /* Tech Skills */

 .box {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
 }      

 .icon_box {
  background-color: #333; /* Dark background color */
  color: white; /* Text color */
  padding: 20px; /* Padding for spacing */
  display: inline-block; /* To fit content */
  display: flex;
 }    
 
 .icon_name {
  flex: 1;
  margin-top: 1px; /* Spacing between the icon and name */
  font-size: 14px;
 }

                                            /*Projects*/

                                  
 .wrapper_projects {
  padding-block: 80px;
 }

 .projects_grid {
  display:flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);

 }
  .projects_item {
    grid-column: 1 / span 2;
    padding: 20px;
  }                                          
 
 .projects_links, a {
  color: var(--red);

 }


.projects_tags span {
  background-color: #333;
  color: var(--textaccent);
  padding: 5px;
  margin-right: 5px;
}

.projects_links a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: var(--textaccent);
  background-color: var(--red);
  padding: 5px 10px;
  border-radius: 5px;
}



                                            /*Footer*/ 

.footer {
  background-color: var(--bgclolor);
  color: var(--textaccent);
  display: flex;
  
}

.contact {
  padding: 10px 20px;
  font-size: 1rem;
  font-size: clamp(1rem, 1.02rem + 2.04vw, 2rem);
  font-family: "Space Grotesk", sans-serif;
  margin-inline: auto;
  padding-top: 70px;
  flex: 1;
  border-right: 2px solid var(--gray);
}

.textarea {
  margin-inline: auto;
  flex: 1;
  padding: 10px;
}

.copyright {
  margin-inline: auto;
  background-color: var(--darkgray);
  color: var(--textaccent);
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  align-items: center;
}

.copyright_section {
  flex: 1;
}


textarea {
  width: calc(100% - 2rem);
  height: 80px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.button {
  background-color: var(--red);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
                                      /*media query for desktop view*/

@media (min-width: 37.5em) {
  /* 600px */

  .wrapper {
    width: calc(100% - 3.75rem);
  }

  .myintro {
    text-align: left;
  }

  .icon {
    justify-content: flex-start;
  }

  .header_nav {
    justify-content: flex-start;
    text-align: left;
    align-items: center;
  }

  .logo {
    flex: 1 0 0%;
    margin-inline-end: auto;
  }


  .contact {
    width: calc(100% - 3.75rem); 
  }

  .font_aboutme {
    font-size: 1.1em; /* Smaller font size for smaller screens */
  }

}

