* {
  padding: 0;
  margin: 0;
}

:root {
  --bgclolor: rgba(0, 0, 0, 0.918);
  --textaccent: #ffffff;
  --darkgray: rgb(36, 36, 36);
  --fs-18: 1.125rem;
  --fs-88: 5.5rem;
  --fs-48: 3rem;
  --fs-24: 1.5rem;
  --hovercolor: hsla(0, 1%, 18%, 0.438);
  --container: 69.375rem;
  --red: #C6011F;
  --gray: hsl(0, 0%, 85%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--bgclolor);
  color: var(--textaccent);
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.56;
  font-size: var(--fs-18);
  height: 100%;
}

.wrapper {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
}


                        /*Header*/
.header {
  margin-top: 30px;
}

.header_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px 25px;
}

.logo {
  font-size: 3rem;
  font-size: clamp(3rem, 1.02rem + 2.04vw, 2rem);
  text-decoration: none;
  color: #C6011F;
  font-family: "Space Grotesk", sans-serif;
  flex: 1 0 100%;
}

a:hover {
  color: var(--textaccent);
}

.navbar {
  list-style-type: none;
  margin: -20px;
  padding: 0;
  overflow: hidden;
  height: 7vh;
}

.navbar li {
  border-right: 1px;
  font-size: 0.7rem;
  font-size: clamp(0.7rem, 0.02rem + 2.04vw, 1.5rem);
  float: left;
}

.navbar li a {
  display: block;
  padding: 14px 27px;
  text-decoration: none;
  color: var(--textaccent);
}

li a:hover {
  background-color: var(--red);
  height: auto;
}




                    /*Main*/
.container {

}

.myintro {
  justify-content: center;
  text-align: center;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid var(--gray);
}

h1 { 
  font-size: 50px;
}

h1 > span {
background-image: linear-gradient(
  to right, 
  var(--red) 75%, 
  var(--red) 75%);
background-position: 0 1.18em;
background-repeat: repeat-x;
background-size: 8px 4px;
}

.icon {
  display: flex;
  gap: 10px;
  line-height: 0;
}

.download {
  background-image: linear-gradient(
  to right, 
  var(--red) 75%, 
  var(--red) 75%);
  background-position: 0 1.18em;
  background-repeat: repeat-x;
  background-size: 8px 4px;
  text-decoration: none;
  color: var(--red);
}

.mypic {
  flex:1;
}

.mypic img {
  border-radius: 2%;
  height: 40vh;
  width: auto;
  float: right;
}

.mypic2 img {
  height: 80vh;
  width: auto;
}

.aboutme {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid var(--gray);
}

.skills {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid var(--gray);
}

.projects {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid var(--gray);
}

p {
  color: var(--gray);
}
                                          /* Tech Skills */

 .box {
    display: flex;
    flex-wrap: wrap;
 }      

 .icon_box {
  background-color: #333; /* Dark background color */
  color: white; /* Text color */
  padding: 20px; /* Padding for spacing */
  display: inline-block; /* To fit content */
  display: flex;
 }    
 
 .icon_name {
  flex: 1;
  margin-top: 1px; /* Spacing between the icon and name */
  font-size: 14px;
 }


              /*Footer*/

.footer {
  /*background-color: var(--darkgray);*/
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.contact {
  font-size: 1rem;
  font-size: clamp(1rem, 1.02rem + 2.04vw, 2rem);
  font-family: "Space Grotesk", sans-serif;
  margin-inline: auto;
  padding-top: 70px;
  flex: 1;
  border-right: 2px solid var(--gray);
}

.textarea {
  margin-inline: auto;
  flex: 1;
  padding: 10px;
}

.copyright {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
  background-color: var(--darkgray);
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  align-items: center;
}

.copyright_section {
  flex: 1;
}


textarea {
  width: calc(100% - 2rem);
  height: 80px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.button {
  background-color: var(--red);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
                    /*media query for desktop view*/

@media (min-width: 37.5em) {
  /* 600px */

  .wrapper {
    width: calc(100% - 3.75rem);
  }

  .myintro {
    justify-content: flex-start;
    text-align: left;
    align-items: center;
  }

  .header_nav {
    justify-content: flex-start;
    text-align: left;
    align-items: center;
  }

  .logo {
    flex: 1 0 0%;
    margin-inline-end: auto;
  }

  .contact {
    width: calc(100% - 3.75rem); 
  }

}
